#root {
  -fx-background-image: url('resources/retro_background.png');
  -fx-background-size: 640 480;
  -fx-background-position: center;
}

#title {
  -fx-pref-width: 640;
  -fx-pref-height: 160;
  -fx-background-image: url('resources/title.gif');
  -fx-background-repeat: no-repeat;
  -fx-background-size: 240 160;
  -fx-background-position: center;
}

.border {
  -fx-border-style: solid;
  -fx-border-width: 5px;
  -fx-border-color: black;
}

#menu {
  -fx-pref-height: 200;
  -fx-alignment: center;
  -fx-margin: 10px 50px;
}

.btn {
  -fx-background-color: rgb(45, 48, 70);
  -fx-text-fill: white;
  -fx-cursor: hand;
  -fx-padding: 10px 15px;
  -fx-pref-width: 300;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 10, 0.5, 0, 3);
  -fx-translate-y: -2;
}

.btn:pressed {
  -fx-effect: none;
  -fx-translate-y: 2;
}

.label {
  -fx-padding: 15px 3px;
  -fx-text-fill: white;
  -fx-font-weight: bold;
}
